@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #17191f;
    display: block;
    color: #fff;
    font: 16px normal -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    line-height: 1.4;
    position: relative;
    word-break: break-all;
}

h1 {
    font-size: 15px;
    padding: 6px 0;
    font-weight: 600;
    text-align: center;
}

.c-content {
    background: #1d1f25;
    border: 1px solid #22242b;
    padding: 12px;
}

label {
    display: block;
    margin: 0 0 16px 0;
}

label span {
    color: #b6b9c3;
    margin: 0 0 3px 0;
    display: block;
    font-size: 13px;
}

label .input {
    font-size: 15px;
    color: rgb(222, 229, 242);
    background: #17191f;
    border: 0;
    outline: none;
    font-weight: 400;
    line-height: 1.4;
    padding: 6px;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%);
    display: block;
    border-radius: 3px;
    word-wrap: break-word;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#number {
    width: 100%;
}

.form-left {
    width: 100%;
    margin: 0 26px 0 0;
}

#bth {
    color: rgb(255, 255, 255);
    border: none;
    background: #1ed79d;
    background-image: linear-gradient(to right bottom, #1ed79d, #05c6b1);
    border-color: rgba(0,0,0,0);
    font-size: 14px;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 3px;
    padding: 6px 12px;
}

.c-output {
    background: #1d1f25;
    font-size: 20px;
    color: #ec3e3e;
    border: 1px solid #22242b;
    padding: 12px 16px;
    border-top: 2px solid #22242b;
}

.form__container {
    display: flex;
    justify-content: space-between;
}

#sys1, #sys2 {
    width: 64px;
    text-align: center;
}

.sys__container {
    display: flex;
}

.sys__container > div {
    margin: 0 6px 0 0;
}

#bth-r {
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid #1ed79d;
    font-size: 14px;
    text-align: center;
    outline: none;
    display: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 3px;
    padding: 6px 12px;
}

.active-r {
    display: block;
}
